.star {
    cursor: pointer;
}

.star::before {
    position: absolute;
    content: '\2606';
    font-size: 1.5em;
    transform: translate(28%,-8%);
    color: gray;
}

.starred.star::before {
    content: '\2605';
    font-size: 1.5em;
    color: #f8d165;
}
