 /* home */
 .home {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    height: 40vh;
 }
 .home h1 {
    font-family: Yeseva-one;
    font-size: 2.5rem;
 }

 .home h3 {
    padding-top: 1em;
    letter-spacing: 0.1em;
 }

 .home-btns {
    padding-top: 1em;
 }

 .home-btns button {
    cursor: pointer;
    background: none;
    border: none;
    font-family: Yeseva-one;
    font-size: 1.2em;
    margin-inline: 1.3em;
    transition: 0.3s;
 }

 .home-btns button:hover {
   scale: 1.1;
   color: darkblue;
 }
