.note-container {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1;
align-items: flex-start; */
    margin: .5em;
}

.todo-item h2 {
    order: 1;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    order: 2;
}

.todo-item:nth-child(1) {
    margin-right: auto;
}

.todo-item h3 {
 margin-left: .5em;
 margin-right: auto;
}

.todo-item:nth-child(3) {
    margin-left: auto;
}

.note-toolbar {
display: flex;
justify-content: space-evenly;
align-items: center;
margin-top: .5em;
opacity: 0;
}

.pin-note {
    position: absolute;
    top: 0;
    right: .2em;
    position: absolute;
    transform: translate(0%, -35%);
}

.pin-note::before {
    content: '\f10d';
    position: absolute;
}

.pin-note:hover {
    cursor: pointer;
}

.trash::before {
    content: '\e872';
    position: absolute;
    transform: translate(20%, 15%);
}

.trash:hover {
    cursor: pointer;
}

.color::before {
    content: '\e40a';
    position: absolute;
    transform: translate(20%, 15%);
}

.color:hover {
    cursor: pointer;
}

.image::before {
    content: '\e3f4';
    position: absolute;
    transform: translate(20%, 15%);
}

.image:hover {
    cursor: pointer;
}

.label::before {
    content: '\e892';
    position: absolute;
    transform: translate(20%, 15%);
}

.label:hover {
    cursor: pointer;
}

.copy::before {
    content: '\e173';
    position: absolute;
    transform: translate(20%, 15%);
}

.copy:hover {
   cursor: pointer;
}

.check-box::before {
    content: '\f1fe';
    position: absolute;
    transform: translate(20%, 15%);
}

.check-box:hover {
   cursor: pointer;
}