header {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 20px;
    z-index: 10;
}

.logo {
    font-family: Yeseva-one;
    font-size: 1.5rem;
    padding-inline-start: 1em;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

nav {
    padding-inline-end: 1em;
}

nav a {
    font-family: Roboto-serif;
    margin: .5em;
}

nav a:hover {
    color: darkblue;
}

nav a.active {
    font-family: Roboto-serif-italic;
    color: darkblue;
    font-weight: bold;
    
}