.user-msg {
    background-color: white;
    border: 2px solid lightgray;
    padding: 1em;
    position: absolute;
    top: 1em;
    right: 1em;
    border-radius: 2em;
}

.user-msg.success {
    border: 2px solid lightgreen;
}

.user-msg.error {
    border: 2px solid lightpink;
}


.user-msg button{
    float: right;
    /* margin: 1em; */
    background: none;
    border: none;
}